@import url("../vendor/normalize.css");
@import url("../vendor/fonts/fonts.css");

.card {
  width: 540px;
}

.card__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  margin: 0 0 32px;
}

.card__list-item {
  display: flex;
  justify-content: space-between;
  font-family: "Noto Serif", "Times New Roman", serif;
  margin: 0 0 16px;
}

.card__list-item:nth-last-child(1) {
  margin-bottom: 0;
}

.card__list-divider {
  flex-grow: 0.95;
  border-bottom: 1px solid #000;
}
